# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lai
*.so
*.so.*
*.dylib

# Executables
node
node_app
test_runner
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Build directory
build/
bin/
obj/

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Editor and IDE metadata
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Tool-specific
.marscode/
